@font-face{
	font-family: 'Metropolis';
    src: url(fonts/Metropolis-Black.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
width: 1920px;
height: 3122px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.baner{
	display: flex;
	padding-top: 26px;
	width: 1920px;
    height: 140px;
}
.baner__logo{
	float:left;
	padding-left: 30px;

}
.baner__buttons{
	padding-top: 15px;
	padding-left: 1042px;
	width: 501px;
    height: 29px;
	text-align: left;
	background-color: aqua;
}
.baner__kontakt{
	float: left;
	

}
.baner__kontakt__img{
	float: left;
	
}
.baner__kontakt__txt{
	padding-left: 45px;
	float: left;
	font-family: Metropolis;
}

.baner__ulubione{
	float: left;

}
.baner__ulubione__txt{
	float: left;
	font-family: Metropolis;
}
.baner__ulubione__img{
	float: left;
}
.baner__mojekonto{
	float: left;

}
.baner__mojekonto__txt{
	float: left;
	font-family: Metropolis;
}
.baner__mojekonto__img{
	float: left;
}

