@font-face{
	font-family: 'Metropolis';
    src: url(fonts/Metropolis-Black.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
width: 1920px;
height: 3122px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.baner{
	padding-top: 26px;
	width: 1920px;
    height: 140px;
}
.baner__logo{
	float:left;
	padding-left: 30px;

}
.baner__buttons{
	padding-top: 15px;
	padding-left: 1042px;
	width: 501px;
    height: 29px;
	text-align: left;
}
.baner__KONTAKT{
	float: left;

}
.baner__KONTAKT--img{
	float: left;
}
.baner__KONTAKT--txt{
	padding-left: 45px;
	padding-top: 9px;
	float: left;
	font-family: Metropolis;
}

.baner__ULUBIONE{
	float: left;

}
.baner__ULUBIONE--txt{
	padding-top: 9px;
	float: left;
	font-family: Metropolis;
}
.baner__ULUBIONE--img{
	float: left;
}
.baner__MOJEKONTO{
	float: left;

}
.baner__MOJEKONTO--txt{
	padding-top: 9px;
	float: left;
	font-family: Metropolis;
}
.baner__MOJEKONTO--img{
	float: left;
}

